{% extends 'base.html' %} {% block containt %} {% load static %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> Home</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'student' %}">
        <div class="widget-small primary coloured-icon">
          <i class="icon fa fa-users fa-3x"></i>
          <div class="info">
            <h4>Student</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'student_list' %}">
        <div class="widget-small dupain coloured-icon">
          <i class="icon fa fa-list-alt fa-3x"></i>
          <div class="info">
            <h4>View Student List</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'grades' %}">
        <div class="widget-small info coloured-icon">
          <i class="icon fa fa-graduation-cap fa-3x"></i>
          <div class="info">
            <h4>Grades</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'department' %}">
        <div class="widget-small orange coloured-icon">
          <i class="icon fa fa-book fa-3x"></i>
          <div class="info">
            <h4>Department</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'curriculum' %}">
        <div class="widget-small danger coloured-icon">
          <i class="icon fa fa-address-book-o fa-3x"></i>
          <div class="info">
            <h4>Curriculum</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'manageuser' %}">
        <div class="widget-small violet coloured-icon">
          <i class="icon fa fa-user-plus fa-3x"></i>

          <div class="info">
            <h4>Add Faculty</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'prerequisite' %}">
        <div class="widget-small green coloured-icon">
          <i class="icon fa fa-address-card-o fa-3x"></i>
          <div class="info">
            <h4>Pre-requisite</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a href="{% url 'addCourse_Faculty' %}">
        <div class="widget-small blue coloured-icon">
          <i class="icon fa fa-registered fa-3x"></i>

          <div class="info">
            <h4>Course Register to Faculty</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!--Footer section-->
  <section id="footer">
    <div class="row">
      <div class="footer-section">
        <p>The Product Design & Developed By:</p>
        <div class="row">
          <div class="col-lg-3">
            <div class="team-img">
              <img
                src="{% static 'images/unnamed.jpg' %}"
                alt="Meherab Hossain img"
                class="img-fluid"
              />
              <p>Meherab Hossain</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="team-img">
              <img
                src="{% static 'images/nurnobi.jpg' %}"
                alt="Nurnobi Hossain img"
                class="img-fluid"
              />
              <p>Nurnobi Hossain</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="team-img">
              <img
                src="{% static 'images/hur.jpg' %}"
                alt="Hur-E-Jannat img"
                class="img-fluid"
              />
              <p>Hur-E-Jannat</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="team-img">
              <img
                src="{% static 'images/rahnuma.jpg' %}"
                alt="Rahnuma Rah img"
                class="img-fluid"
              />
              <p>Rahnuma Audry</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock containt %}
