{% extends 'base.html' %} {% block containt %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Manage Curriculum</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">
        <a href="{% url 'curriculum' %}">Curriculum</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Course ID</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Course ID"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Course Code</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Course Code"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Course Title</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Course Title"
          />
        </div>
        <div class="form-group">
          <label for="inputState">Department</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Semester</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Credit</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Credit"
          />
        </div>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
          Save
        </button>
        <button class="btn btn-danger my-4 my-sm-0 mr-sm-2" type="submit">
          Delete
        </button>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="reload">
          Clear
        </button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Student Curriculum Data</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Course ID</th>
                  <th>Course Code</th>
                  <th>Course Title</th>
                  <th>Department</th>
                  <th>Semester</th>
                  <th>Credit</th>
                  <th>Pre Course</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>CSE-312</td>
                  <td>Computer Science</td>
                  <td>@CSE</td>
                  <td>2nd</td>
                  <td>3</td>
                  <td>CSE-212</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>CSE-312</td>
                  <td>Computer Science</td>
                  <td>@CSE</td>
                  <td>2nd</td>
                  <td>3</td>
                  <td>CSE-212</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>CSE-312</td>
                  <td>Computer Science</td>
                  <td>@CSE</td>
                  <td>2nd</td>
                  <td>3</td>
                  <td>CSE-212</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>CSE-312</td>
                  <td>Computer Science</td>
                  <td>@CSE</td>
                  <td>2nd</td>
                  <td>3</td>
                  <td>CSE-212</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock containt %}
