{% extends 'base.html' %} {% block containt %} {% load static %}

<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Add Departments</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Department</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Department Code</label>
          <input
            name="dep_code"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Department code"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Department Name</label>
          <input
            name="dep_name"
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Department Name"
          />
        </div>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
          Save
        </button>

        <button class="btn btn-info my-4 my-sm-0 mr-sm-2" type="reset">
          Clear
        </button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Department List</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Department Code</th>
                  <th>Department Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for data in departments %}
                <tr>
                  <td>{{ data.dep_code }}</td>
                  <td>{{ data.dep_name }}</td>
                  <td>
                    <div class="action_icon">
                      <a href="#" class="badge badge-primary">Edit</a>
                      <a
                        href="#"
                        class="badge badge-danger"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        >Delete</a
                      >
                    </div>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Are you want to delete?
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">
                              Yes
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              No
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock containt %}
