{% extends 'base.html' %} {% block containt %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Update student information</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Student</a></li>
    </ul>
  </div>

  <br />
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <form action="/update_student/{{students.id }}">
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Student ID</label>
          <input
            value="{{ students.st_id }}"
            name="st_id"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Student ID"
            required
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Full Name</label>
          <input
            value="{{ students.st_fullname }}"
            name="st_fname"
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="First Name"
            required
          />
        </div>

        <div class="form-group">
          <label for="inputState">Gender</label>
          <select
            name="st_gender"
            id="inputState"
            class="form-control"
            required
          >
            <option selected>{{ students.gender }}</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Department</label>
          <select
            name="st_department"
            id="inputState"
            class="form-control"
            required
          >
            <option selected>{{ students.department }}</option>
            <option>CSE</option>
            <option>TXT</option>
            <option>ENG</option>
            <option>MAT</option>
            <option>EEE</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Semester</label>
          <select
            name="st_semester"
            id="inputState"
            class="form-control"
            required
          >
            <option selected>{{ students.semester }}</option>
            <option>1st</option>
            <option>2nd</option>
            <option>3rd</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Intake</label>
          <select
            name="st_intake"
            id="inputState"
            class="form-control"
            required
          >
            <option selected>{{ students.intake }}</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Section</label>
          <select
            name="st_section"
            id="inputState"
            class="form-control"
            required
          >
            <option selected>{{ students.section }}</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Course</label>
          <select
            name="st_course"
            id="inputState"
            class="form-control"
            required
          >
            <option selected>{{ students.course }}</option>
            <option>Course1</option>
            <option>Course2</option>
            <option>Course3</option>
          </select>
        </div>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
          Update
        </button>

        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="reset">
          Reset
        </button>
      </form>
    </div>
  </div>
</main>
{% endblock containt %}
