{% extends 'base.html' %} {% block containt %}{% load static %}

<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Course Register to Faculty</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">
        <a href="#">Course Register to Faculty</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="search-box">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search with course name"
              aria-label="Search"
            />
            <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
              Search
            </button>
            <button class="btn btn-primary my-4 my-sm-0" type="reload">
              Refresh
            </button>
          </form>
        </nav>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Course Name</label>
          <input
            name="course_name"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Course Name"
          />
        </div>
        <div class="form-group">
          <label for="inputState">Department</label>
          <select id="inputState" class="form-control" name="department">
            <option selected>Choose...</option>
            {% for dep in department %}
            <option>{{ dep.dep_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Semester</label>
          <select id="inputState" class="form-control" name="semester">
            <option selected>Choose...</option>
            <option>1st</option>
            <option>2nd</option>
            <option>3rd</option>
            <option>4th</option>
          </select>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Intake</label>
          <input
            name="intake"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Intake"
          />
        </div>
        <div class="form-group">
          <label for="inputState">Section</label>
          <select id="inputState" class="form-control" name="section">
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Faculty Appoint</label>
          <select id="inputState" class="form-control" name="faculty">
            <option selected>Choose...</option>
            {% for fac in fac %}
            <option>{{ fac.f_code }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
          Save
        </button>

        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="reset">
          Reset
        </button>
      </form>
    </div>
    <div class="col-md-9">
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Course Register Data</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Course Name</th>
                  <th>Department</th>
                  <th>Semester</th>
                  <th>Intake</th>
                  <th>Section</th>
                  <th>Faculty Appoint</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for data in registerCours %}
                <tr>
                  <td>{{ data.course_name }}</td>
                  <td>{{ data.department }}</td>
                  <td>{{ data.semester }}</td>
                  <td>{{ data.intake }}</td>
                  <td>{{ data.section }}</td>
                  <td>{{ data.faculty }}</td>
                  <td>
                    <div class="action_icon">
                      <a href="#" class="badge badge-primary">Edit</a>
                      <a
                        href="#"
                        class="badge badge-danger"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        >Delete</a
                      >
                    </div>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Are you want to delete?
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">
                              Yes
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              No
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock containt %}
