{% extends 'base.html' %} {% block containt %} {% load static %}

<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Add student Grades</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Grades</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="search-box">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search with Student ID"
              aria-label="Search"
            />
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Department"
              aria-label="Search"
            />
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Semester"
              aria-label="Search"
            />
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Intake"
              aria-label="Search"
            />
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Section"
              aria-label="Search"
            />
            <button
              class="btn btn-primary my-4 my-sm-0 mr-sm-2 mt-sm-2"
              type="submit"
            >
              Search
            </button>
            <button class="btn btn-info my-4 my-sm-0 mt-sm-2" type="reload">
              Refresh
            </button>
          </form>
        </nav>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Student Data</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th>Full Name</th>
                  <th>Gender</th>
                  <th>Department</th>
                  <th>Semester</th>
                  <th>Intake</th>
                  <th>Section</th>
                  <th>Grade</th>
                  <th>Grading</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Male</td>
                  <td>CSE</td>
                  <td>CSE-213</td>
                  <td>A+</td>
                  <td>
                    <a href="#">
                      <span
                        class="badge badge-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        >Edit Grade</span
                      >
                    </a>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Grading
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="inputState">Grade</label>
                              <select id="inputState" class="form-control">
                                <option selected>A+</option>
                                <option selected>A</option>
                                <option selected>A-</option>
                                <option selected>B</option>
                                <option selected>C</option>
                                <option selected>D</option>
                                <option selected>F</option>
                                <option selected>I</option>
                                <option>...</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="button" class="btn btn-primary">
                              Save changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Male</td>
                  <td>CSE</td>
                  <td>CSE-213</td>
                  <td>A+</td>
                  <td>
                    <a href="#">
                      <span
                        class="badge badge-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        >Edit Grade</span
                      >
                    </a>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Grading
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="inputState">Grade</label>
                              <select id="inputState" class="form-control">
                                <option selected>A+</option>
                                <option selected>A</option>
                                <option selected>A-</option>
                                <option selected>B</option>
                                <option selected>C</option>
                                <option selected>D</option>
                                <option selected>F</option>
                                <option selected>I</option>
                                <option>...</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="button" class="btn btn-primary">
                              Save changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>Male</td>
                  <td>CSE</td>
                  <td>CSE-213</td>
                  <td>A+</td>
                  <td>
                    <a href="#">
                      <span
                        class="badge badge-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        >Edit Grade</span
                      >
                    </a>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Grading
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="inputState">Grade</label>
                              <select id="inputState" class="form-control">
                                <option selected>A+</option>
                                <option selected>A</option>
                                <option selected>A-</option>
                                <option selected>B</option>
                                <option selected>C</option>
                                <option selected>D</option>
                                <option selected>F</option>
                                <option selected>I</option>
                                <option>...</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="button" class="btn btn-primary">
                              Save changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Male</td>
                  <td>CSE</td>
                  <td>CSE-213</td>
                  <td>A+</td>
                  <td>
                    <a href="#">
                      <span
                        class="badge badge-primary"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        >Edit Grade</span
                      >
                    </a>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Grading
                            </h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label for="inputState">Grade</label>
                              <select id="inputState" class="form-control">
                                <option selected>A+</option>
                                <option selected>A</option>
                                <option selected>A-</option>
                                <option selected>B</option>
                                <option selected>C</option>
                                <option selected>D</option>
                                <option selected>F</option>
                                <option selected>I</option>
                                <option>...</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-dismiss="modal"
                            >
                              Close
                            </button>
                            <button type="button" class="btn btn-primary">
                              Save changes
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock containt %}
