{% extends 'base.html' %} {% block containt %}
<main class="app-content">
  <div class="app-title">
    <div>
      <h1>Add student information</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">Student</a></li>
    </ul>
  </div>
  {% if messages %} {% for message in messages %}

  <div
    class="alert text-{{ message.tags }} alert-dismissible fade show bg-dark h4 "
    role="alert"
  >
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      &times;
    </button>
  </div>

  {% endfor %} {% endif %}
  <div class="row">
    <div class="col-md-12">
      <div class="search-box">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <input
              name="q"
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search with student ID"
              aria-label="Search"
            />
            <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
              Search
            </button>
            <button class="btn btn-primary my-4 my-sm-0" type="reload">
              Refresh
            </button>
          </form>
        </nav>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="formGroupExampleInput">Student ID</label>
          <input
            name="st_id"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Student ID"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">First Name</label>
          <input
            name="st_fname"
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="First Name"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Last Name</label>
          <input
            name="st_lname"
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Address</label>
          <input
            name="st_address"
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Address"
          />
        </div>
        <div class="form-group">
          <label for="inputState">Gender</label>
          <select name="st_gender" id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Department</label>
          <select name="st_department" id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>CSE</option>
            <option>TXT</option>
            <option>ENG</option>
            <option>MAT</option>
            <option>EEE</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputState">Course</label>
          <select name="st_course" id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>Course1</option>
            <option>Course2</option>
            <option>Course3</option>
          </select>
        </div>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="submit">
          Save
        </button>
        <a class="btn btn-info my-4 my-sm-0 mr-sm-2" href="#"> Update </a>
        <a class="btn btn-danger my-4 my-sm-0 mr-sm-2" href="#"> Delete </a>
        <button class="btn btn-primary my-4 my-sm-0 mr-sm-2" type="reset">
          Reset
        </button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div class="tile">
          <h3 class="tile-title">Student Data</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Student ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Address</th>
                  <th>Gender</th>
                  <th>Department</th>
                  <th>Course</th>
                </tr>
              </thead>
              <tbody>
                {% for data in student_data %}
                <tr>
                  <td>{{ data.st_id }}</td>
                  <td>{{ data.st_fname }}</td>
                  <td>{{ data.st_lname }}</td>
                  <td>{{ data.address }}</td>
                  <td>{{ data.gender }}</td>
                  <td>{{ data.department }}</td>
                  <td>{{ data.course }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock containt %}
